<!DOCTYPE html>
<html>

<head>
	<title>
		Modifica televisore
</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" 
      rel="stylesheet" 
      integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" 
      crossorigin="anonymous">
</head>

<body>
	<header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${userDetails}">
			<a href="/login">Login</a>
		</div>
	</header>

	<div><a href="/"><img src="/images/logo-store.png" width="15%" /></a></div>
	<h1>Aggiorna televisore</h1>
	<div th:if="${television}">
		<div>
			<span th:text="${television.model}">Up!</span>
			<span th:text="'(' + ${television.code} + ')'">2000</span>
		</div>
		<div th:if="${television.model}">
			<span>Modello: </span><span th:text="${television.model}">
				</span>
			<a th:href="@{'/admin/addTelevion/' + ${television.id}}">Modifica modello</a></span>
		</div>
		<div th:unless="${television.model}">
			<a th:href="@{'/admin/addTelevision/' + ${television.id}}">Aggiungi modello</a>
		</div>
		
		<div th:if="${television.brand}">
			<div style="display: flex; align-items: center; gap: 10px;">
			<span>Brand: </span><span th:text="${television.brand} "></span>
				<div class="dropdown">
				  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
				    Modifica brand
				  </button>
				  <ul class="dropdown-menu">
					<li th:each="brand : ${T(it.uniroma3.siw.model.Util.Brand).values()}">
						<a class="dropdown-item"
				            th:href="@{/admin/setTelevisionBrand/{televisionId}/{brand}(televisionId=${television.id}, brand=${brand})}"
				            th:text="${brand}">
				         </a>
					</li>
				  </ul>
				</div>
			</div>
		<div th:unless="${television.brand}">
			<a th:href="@{'/admin/addTelevision/' + ${television.id}}">Aggiungi brand</a>
		</div>
		
		<div th:if="${television.screenInches}">
			<span>Pollici: </span><span th:text="${television.screenInches} ">
				</span>
			<a th:href="@{'/admin/addTelevision/' + ${television.id}}">Modifica pollici</a></span>
		</div>
		<div th:unless="${television.screenInches}">
			<a th:href="@{'/admin/addTelevison/' + ${television.id}}">Aggiungi pollici</a>
		</div>		
		<div th:unless="${television}">Televisore non esistente</div>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
</body>

</html>