<!DOCTYPE html>
<html>

<head>
	<title>
		Homepage
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${user}">
			<a href="/login">Login</a>
		</div>
	</header>
	<div><a href="/"><img src="/images/logo-store.png" width="15%"/></a></div>
	<h1>Operazioni per amministratore</h1>
	<div>
		<a href="/admin/formNewInventoryItem">Aggiungi un televisore al magazzino</a>
	</div>>
	<div>
		<a href="/admin/formNewTelevision">Aggiungi un modello di televisore</a>
	</div>>
	<h1>Operazioni per qualsiasi utente</h1>
	<div>
		<a href="/televisions">Visualizza televisori</a>
	</div>>
</body>

</html>