<!DOCTYPE html>
<html>

	<head>
		<title>
			HomePage
		</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet"
			integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/styles.css">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

	</head>

	<body>
		<div class="container-fluid px-0" th:replace="fragments/header :: siteHeader">
		</div>
		<div class="container">

			<h1>Amministratore</h1>

			<div>
				<a href="/admin/formNewInventoryItem">Aggiungi un televisore al magazzino</a>
			</div>
			<div>
				<a href="/admin/manageInventoryItems">Gestisci televisori in magazzino</a>
			</div>
			<div>
				<a href="/admin/manageTelevisions">Modifica televisori</a>
			</div>
			<div>
				<a href="/admin/formNewTelevision">Aggiungi un modello di televisore</a>
			</div>
			<h1>Operazioni per qualsiasi utente</h1>
			<div>
				<a href="/inventoryItems">Visualizza televisori</a>
			</div>
			<div>
				<a href="/televisions">Visualizza modelli di televisori</a>
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
			crossorigin="anonymous"></script>

	</body>

</html>